  /* hidden button */
  .material-button {
    background: none;
    padding: 0px;
    border: none;
  }
  /* datepicker 
  .input-field input[type=date] {
    border-bottom: 0px;
  }*/

@media screen and (min-width: 600px) {
    .sidenav-button {
        display: none !important;
    }
}

#toast-container {
  top: auto !important;
  right: auto !important;
  color: #43a047;
  bottom: 10%;
  left:7%;  
}

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #0000ff;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #43a047;
     box-shadow: 0 1px 0 0 #43a047;
   }
   /* textarea label underline focus color */
   .input-field textarea[name=thought]:focus {
     border-bottom: 1px solid #43a047;
     box-shadow: 0 1px 0 0 #43a047;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #43a047;
     box-shadow: 0 1px 0 0 #43a047;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   .new-entry{
    margin-top: 3em;
   }
   .input{
    color: white;
   }
   .chip{
    background-color: #4CAF50;
    color: white;
   }
   .thumb.active{
    background-color: #4CAF50;
   }
   .thumb{
    background-color: #4CAF50;
   }
   .card-title{
    color:black;
   }
   .card{
    margin-bottom: 0em;
   }
   .card-content{
    padding-top: 5px;
    padding-bottom: 5px;
   }
   input[type=range] + .thumb {
    background-color: #4CAF50;
    border: 0px;
   }
   input[type=range]{
    border: 0px solid green;
  }
  input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: green;
  border: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  height: 3px;
  background: green;
  border: none;
}
input[type="range"]:active::-moz-range-thumb{
  background: green;
  color: green;
}
input[type=range]::-ms-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: green;
}
.upperright{
  margin-top: 2em;
  float: right;
  width: 33%;
  margin-right: 2em;
}
.container{
  width: 100%;
}
.card{
  background-color: #756c51;
}
.card .card-action {
    border-top: 1px solid white;

}
.card-thoughts{
  word-wrap: break-word;
  color: #efefef;
}

input[type=range]::-webkit-slider-thumb {
    background: goldenrod;
}
button:focus {
    outline: none;
    background-color: green;
}
