<template name='Journal'>
    <div class="row">
      <form class="col s12">
        <div></div>
        <div class="row">
          How was today?
        </div>
        <div class="row">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="10" />
          </p>
        </div>
        <div class="row">
          How focused were you today?
        </div>
        <div class="row">
          <p class="range-field">
            <input type="range" id="test5" min="0" max="10" />
          </p>
        </div>

        <div class="row">
          Who did you have good convserations with today?
        </div>

  		<div class="chips chips-placeholder"></div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" length="120"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
        </form>
    </div>

    <div class="right">
      <a class="btn-floating btn-large waves-effect waves-light red darken-1 right-alight"><i class="material-icons">done</i></a>
   </div> 
</template>