<template name="mainLayout">
	<main>
		{{> navbar }}
    {{> sidenav}}
			<body>
          {{#if currentUser}}
            <div class="container"> 
					   {{> Template.dynamic template=content}}
           </div>
          {{else}}
            <br><br><br>
            <div class="container">
              <div class="card amber login-card">
                <div class="card-content">
                  <span class="card-title">Sign up to start journaling!</span>
                  <a href="#" data-activates="slide-out" class="button-collapse show-on-large sidenav-button "><h2 style="color: brown">Sign In</h2></a>
                </div>
              </div>
            </div>
          {{/if}}
			</body>
	</main>
</template>

<template name='navbar'>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">
      <a href="#" class="brand-logo center">Grasshoppr</a>
      <a href="#" data-activates="slide-out" class="button-collapse  show-on-large "><i class="sidenav-button material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-small-and-down">
      </ul>
      {{#if currentUser}} 
        <ul id="nav=mobile" class="right hide-on-small-and-down">
          <li>{{> Template.dynamic template=page}}</li>
        </ul>
      {{/if}}
    </div>
  </nav>
</div>
</template>
<template name="sidenav">
   <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img class="background" src="images/office.jpg">
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#">{{> loginButtons}}</a></li>
    <li><a href="#">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>
</template>
<template name='look-back-tab'>
    <a href="{{pathFor 'lookback'}}">Look Back</a>
</template>

<template name='journal-tab'>
    <a href="{{pathFor 'journal'}}">Journal</a>
</template>

