<template name="MainLayout">
	<main>
		{{> navbar }}
			<body>
				<div class="container">
          {{#if currentUser}} 
					 {{> Template.dynamic template=content}}
          {{else}}
            <br><br><br>
            <div class="card amber">
              <div class="card-content">
                <span class="card-title">Sign up to start journaling!</span>
              </div>
            </div>
          {{/if}}
				</div>
			</body>
	</main>
</template>

<template name='navbar'>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">
      <a href="#" class="brand-logo center">Grasshoppr</a>
      <ul id="nav-mobile" class="left hide-on-small-and-down">
        <li><a href="#">{{> loginButtons}}</a></li>
      </ul>
      {{#if currentUser}} 
        <ul id="nav=mobile" class="right hide-on-small-and-down">
          <li><a href="#">{{> Template.dynamic template=page}}</a></li>
        </ul>
      {{/if}}
    </div>
  </nav>
</div>
</template>

<template name='look-back-tab'>
    Look Back
</template>

<template name='journal-tab'>
    Journal
</template>

